# Notion .dotfiles 페이지 참조하기

# MongoDB 설정
# 실습장 PC일 경우
# MONGO_BASE_URI='http://admin:Redfin7620!@192.168.0.123:27017' # 안될 경우 !를 %21로 변환
# MONGO_LOCAL_URI='http://admin:Redfin7620!@192.168.0.123:27017' 
# MONGO_REMOTE_URI='http://100.97.183.123:27017'

MONGO_BASE_URI='http://admin:changeme@localhost:27017' # 안될 경우 !를 %21로 변환
MONGO_LOCAL_URI='http://admin:changeme@localhost:27017' 
MONGO_REMOTE_URI='http://100.97.183.123:27017'

MONGO_DB=redfin
MONGO_COLLECTION=rss_all_entries

# Elasticsearch 설정
ES_HOST='http://localhost:9200'
ES_USER=elastic
ES_PASSWORD=elastic
INDEX_NAME="article_recommender"

# Ollama 설정
OLLAMA_MODEL='ollama:gemma3:4b'
OLLAMA_BASE_URL='http://localhost:11434'
OLLAMA_SERVERS_LOCAL_BASE_URL='http://localhost:11434'
OLLAMA_SERVERS_REMOTE_BASE_URL='http://100.97.183.123:11434'
